/* 
    Document   : myForm
    Created on : Sep 17, 2012, 8:46:06 PM
    Author     : Pablo
    Description:
        Our stylesheet.
*/

root { 
    display: block;
}

/*FORMS*/
.formLabel {
    width: 100px !important; 
    text-align: right !important;
}

label.valid {
  width: 24px;
  height: 24px;
  background: url(../img/valid.png) center center no-repeat;
  display: inline-block;
}
label.error {
  color: red;
  padding: 2px 8px;
  margin-top: 2px;
}